# kernel boot command line
CONFIG_CMDLINE="root=/dev/mmcblk0p4 rootwait"

# add things
CONFIG_DRM_FBDEV_EMULATION=y

# remove things
CONFIG_CAN=n
CONFIG_BT=n
CONFIG_CFG80211=n
CONFIG_VIRTIO_NET=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_WLAN=n
CONFIG_RFKILL=n
CONFIG_WIRELESS=n
CONFIG_SOUND=n
CONFIG_REMOTEPROC=n
CONFIG_ARM_SCMI_CPUFREQ=n
CONFIG_RANDOM_TRUST_CPU=n
CONFIG_RANDOM_TRUST_BOOTLOADER=n
CONFIG_TCG_TPM=n
CONFIG_HW_RANDOM=n

# remove PSCI, SCMI, and OP-TEE
CONFIG_COMMON_CLK_SCMI=n
CONFIG_ARM_SCMI_POWER_DOMAIN=n
CONFIG_SENSORS_ARM_SCMI=n
CONFIG_REGULATOR_ARM_SCMI=n
CONFIG_RESET_SCMI=n
CONFIG_TRUSTED_FOUNDATIONS=n
CONFIG_ARM_SMCC_SOC_ID=n
CONFIG_ARM_SMC_WATCHDOG=n
CONFIG_CPU_FREQ=n
CONFIG_CPU_IDLE=n
CONFIG_ARM_SMCCC_SOC_ID=n
CONFIG_ARM_SCMI_PROTOCOL=n
CONFIG_TEE=n
CONFIG_ARM_PSCI=n
